<footer class="container-fluid bg-light">
	<div class="row">
		<section class="col">
		L'Aéroclub du Sud
		</section>
		<section class="col">
			Aéroport Internationnal
		</section>
		<section class="col">
			PACA
		</section>
		<section class="col">
			<a href="http://jigsaw.w3.org/css-validator/check/referer">
				<img style="border:0;width:88px;height:31px"
				src="http://jigsaw.w3.org/css-validator/images/vcss-blue"
				alt="CSS Valide !" />
			</a>
		</section>
	</div>
</footer>