{% extends 'base.html.twig' %}

{% block title %}Réinitialisation de mot de passe{% endblock %}

{% block body %}
<div class="container  col-sm-6 pt-5 my-5 border bg-glass ">
  <div class="container-fluid col-md-10">
    <div class="row">
 			<div >
				<p class="h1" style="color:#744e01f9">Réinitialisation de mot de passe </p>
			</div>	
        <!-- 2 column grid layout with text inputs for the first and last names -->
      <div class="row">
        <div class="col-md-6 mb-4">
          <div class="form-outline">
          {#  <h1 style="color:#744e01f9">Réinitialisation de mot de passe</h1>#}
            {{ form_start(passForm) }}
                {{ form_row(passForm.password) }}
                <button type="submit" class="btn btn-warning btn-block btn-large mt-2">Envoyer</button>
            {{ form_end(passForm) }}
        </div>
    </div>
</section>

{% endblock %}