{% extends 'layout.html.twig' %}

{% block body %}
{% block header %}
  {% include "_partials/_entete.html.twig" %}
{% endblock header %}


   <div class="container py-5" style="background-color: #96cdd4 ;">

    <div class="row">    
      <div class="col-lg-4">
			<h5>{# On affiche tous les messages flash dont le nom est « notice » #}				
				{% for message in app.session.flashbag.get('notice') %}
					<div class="alert alert-danger">
				{#		<p>Message flash : {{ error }}</p>#}
					</div>
				  {% endfor %}
			</h5>

      <h4>Modification du Mot de Passe de: {{app.user.firstname}} {{app.user.lastname}}</h4>
      <form method="POST">
        <div class="form.field">
            <label for="pass">Choisissez un Mot de Passe</label>
            <input type="password" id="pass" name="pass" class="form.control">
        </div>
        <div class="form.field">
            <label for="pass2">Confirmer ce Mot de Passe</label>
            <input type="password" id="pass2" name="pass2" class="form.control">
        </div>

        <button class="btn btn-primary">Valider</buton>
{% endblock %}               

